<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
    <script src="https://kit.fontawesome.com/3ea215d505.js" crossorigin="anonymous"></script>
    <title>메인 | Blind Timer</title>
  </head>
  <body>
    <div class="content has-text-centered">
      <h1>Blind Timer</h1>
    </div>
  </body>
</html>
